*{
    --image-size-1024: 300px;
    --image-size-768: 180px;
    --image-size-600: 160px;
    --image-size-480: 140px;
}

.hero
{
    height: 100vh;
    display: flex;

    position: relative;
    overflow: hidden;
    
}

.hero::before
{
    content: ' ';
    position: absolute;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    background-image: url('../assets/pictures/ciculi-wall-2.png');
    background-size: cover;
    background-position: center;
    filter: blur(8px) brightness(0.5);
    z-index: 0;
    
}

.hero::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
}

#hero-content
{
    margin-top: 30vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 40px 24px;
    z-index: 1;
    padding: 7vh;    
}

#hero-content h1
{
    font-weight: var(--font-weight-md);
    font-family: var(--font-title);
    font-size: var(--font-size-title);
    color: var(--color-text-secondary-light);
    letter-spacing: 8%;
    text-align: center;
}

.divider
 {
    border: none;           
    height: 2px;
    
    background: linear-gradient(90deg, transparent 0%, var(--color-text-5) 10% 90%, transparent 100%);
   
    width: 85vw;            
    margin: var(--space-lg) auto; 

}

/*--------------- Paragraphs ---------------*/
.paragraph
{
   padding-left: 200px;
   padding-right: 200px;
   display: flex;
   align-items: flex-start;
   gap: 150px;
   align-items: center;
}

.paragraph img
{
    max-width: 300px;
    flex-shrink: 0; 
    border-radius: 8px;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.3);
}

.paragraph div
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.paragraph h4
{
    text-indent: 2em;
    color: var(--color-text-primary-dark);
    font-size: 1.2rem;
    letter-spacing: var(--letter-spacing-md);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-md);
    align-items: center;
    
}



@media (max-width: 1024px) {


    .paragraph
    {
        padding-left: 100px;
        padding-right: 100px;
        gap: 100px;
  
    }

    .paragraph img
    {
        max-width: var(--image-size-1024);
    }

}

@media (max-width: 768px) {
    
    .paragraph
    {
        padding-left: 100px;
        padding-right: 100px;
        gap: 0px;
        justify-content: center;
  
    }

    
    .paragraph h4
    {
        text-align: center;
    }

    #hero-content h1
    {
        font-size: 3.8rem;
    }

    .hero::before
    {
        background-position: 85%  50%;
    }

    .paragraph img
    {
        max-width: 0px;
    }

}


@media (max-width: 600px) {

     .paragraph
    {
        padding-left: 70px;
        padding-right: 70px;
       
    }
    

}


@media (max-width: 480px) {

    .paragraph
    {
        padding-left: 50px;
        padding-right: 50px;
       
    }  


}