.hero
{
    height: 100vh;
    display: flex;

    position: relative;
    overflow: hidden;
    
}

.hero::before
{
    content: ' ';
    position: absolute;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    background-image: url('../assets/pictures/ciculi-wall-2.png');
    background-size: cover;
    background-position: center;
    filter: blur(8px) brightness(0.5);
    z-index: 0;
    
}

.hero::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
}

#hero-content
{
    margin-top: 30vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 40px 24px;
    z-index: 1;
    padding: 7vh;    
}

#hero-content h1
{
    font-weight: var(--font-weight-md);
    font-family: var(--font-title);
    font-size: var(--font-size-title);
    color: var(--color-text-secondary-light);
    letter-spacing: 8%;
    text-align: center;
}

.divider
 {
    border: none;           
    height: 2px;
    
    background: linear-gradient(90deg, transparent 0%, var(--color-text-5) 10% 90%, transparent 100%);
   
    width: 85vw;            
    margin: var(--space-lg) auto; 

}

/*--------------- Paragraphs ---------------*/
.paragraph
{
   padding-left: var(--space-xxl);
   padding-right: var(--space-xxl);
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: var(--space-md);
}



.paragraph h2
{
    display: inline-block;
    color: var(--color-text-primary-dark);
    background-color: #f8ba94;
    font-size: 1.8rem;
    padding: 4px 10px;
    letter-spacing: var(--letter-spacing-lg);
    margin-bottom: var(--space-xs);
    font-weight: var(--font-weight-md);
    line-height: var(--line-height-heading);
}

.paragraph h4
{
    color: var(--color-text-primary-dark);
    font-size: 1rem;
    letter-spacing: var(--letter-spacing-md);
    line-height: var(--line-height-body);
    font-weight: var(--font-weight-md);
}

@media (max-width: 768px) {
    
    #hero-content h1
    {
        font-size: 3.8rem;
    }

    .hero::before
    {
        background-position: 85%  50%;
    }
}