*
{
    --color-orange: hsl(23,50%,60%);
    --color-blue: hsl(212,25%,45%);
    --color-purepule: hsl(285,20%,50%);
    --color-green: hsl(152,35%,53%);

   
}

body
{
     background-color: var(--color-white-background);
}

.hero
{
    height: 105vh;
    display: flex;

    position: relative;
    overflow: hidden;
    margin-bottom: 10vh;
}

.hero::before
{
    content: ' ';
    position: absolute;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    background-image: url('../assets/pictures/ciculi-forest.png');
    background-size: cover;
    background-position: center;
    filter: blur(8px) brightness(0.5);
    z-index: 0;

     
}
.hero::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,
        transparent 97%,
        var(--color-white-background) 100%   
    );
    z-index: 1;
    pointer-events: none;
}



#hero-content
{
     z-index: 2;
    margin-top: 30vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 40px 24px;
    z-index: 1;
    padding: 7vh;
    
}

#hero-content h1
{
    font-size: var(--font-size-title);
    color: var(--color-text-secondary-light);
    letter-spacing: 8%;
    text-align: center;
    font-family: "Montserrat";
}

.department {
    position: relative;
    overflow: hidden;
    min-height: 90vh;
    padding-bottom: 10vh;
  
   
}





.content-ciculi
{   
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20%;
    background: linear-gradient(165deg,
        var(--color-orange) 20%,
        var(--color-blue) 80%
       
    );
         

    padding-bottom: 3%;
    padding-top: 4%;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.4);

   
}

.content-zalau
{   
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20%;
    background: linear-gradient(165deg,
        var(--color-orange)  20%,
        var(--color-purepule) 100%
    ); 
         
    padding: 40px 32px;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.4);
    padding-bottom: 3%;
    padding-top: 4%;

   
}

.content-cluj
{   
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:  linear-gradient(165deg,
        var(--color-orange)  20%,
        var(--color-green) 100%
        
    );   
     box-shadow: 0 12px 32px rgba(0, 0, 0, 0.4);
    
    padding: 40px 32px;
    padding-bottom: 3%;
    padding-top: 4%;
   
}






#department-title
{
    margin-top: 3%;
    font-size: var(--font-size-subtitle);
    letter-spacing: 10%;
    color: var(--color-text-primary-light);
    font-weight: 500;
    margin-bottom: 5%;
    text-align: center;
}

.persons
{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
    gap: 20%;
}



.person
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%;
   
}

.person img
{
    border-radius: 5%;
    max-height: 200px;
    width: auto;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.35);
   
}

.person-text
{   
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   
}

.person-text h3
{
    font-size: var(--font-size-text);
    letter-spacing: 5%;
    color: var(--color-text-secondary-light);
    font-weight: 400;
}

.person-text h4
{
    letter-spacing: 3%;
    color:var(--color-text-secondary-light);
    font-weight: 300;
}



@media (max-width: 768px) {
 
    .person img
    {
    border-radius: 5%;
    max-height: 120px;
    width: auto;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.35);
   
    }

    .department {
    position: relative;
    overflow: hidden;
    min-height: 30vh;
    padding-bottom: 10vh;
  
   
}
    
}