*
{
    --color-orange: #f6c7aa;
    --color-blue: hsl(212,25%,45%);
    --color-purepule: hsl(285, 41%, 79%);
    --color-green: hsl(166, 35%, 58%);

    --image-size-normal: 200px;
    --image-size-1024: 150px;
    --image-size-768: 130px;
    --image-size-600: 120px;
    --image-size-480: 100px;
   
}

body
{
     background-color: var(--color-white-background);
}

.hero
{
    height: 100vh;
    display: flex;

    position: relative;
    overflow: hidden;
    margin-bottom: 10vh;
     
}

.hero::before
{
    content: ' ';
    position: absolute;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    background-image: url('../assets/pictures/2-ciculi-jozsef-konferencia-comp.jpeg');
    background-size: cover;
    background-position: center;
    filter: blur(8px) brightness(0.5);
    z-index: 0;
    
}

.hero::after {
    content: '';
    position: absolute;
    inset: 0;
   
    z-index: 1;
    pointer-events: none;
}


#hero-content
{
    margin-top: 30vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 40px 24px;
    z-index: 1;
    padding: 7vh;
    
}

#hero-content h1
{
    font-family: var(--font-title);
    font-weight: var(--font-weight-md);
    font-size: var(--font-size-title);
    color: var(--color-text-secondary-light);
    letter-spacing: var(--letter-spacing-lg);
    text-align: center;
}


/*---Content---*/

.divider
 {
    border: none;           
    height: 2px;
    
    background: linear-gradient(90deg, transparent 0%, var(--color-text-5) 10% 90%, transparent 100%);
   
    width: 85vw;            
    margin: var(--space-lg) auto; 

}

.department {
    position: relative;
    overflow: hidden;
    min-height: 40vh;
    
  
   
}





.content
{   
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20%;
 
         

    
}


.department-title
{
    font-size: var(--font-size-subtitle);
    letter-spacing: var(--letter-spacing-lg);
    color: var(--color-text-primary);
    font-weight: var(--font-weight-md);
    text-align: center;
}

#ciculi-title
{
    margin: 0px 20px;
    display: inline-block;
    padding: 4px 10px;
    background-color: var(--color-orange);
    margin-bottom: 5%;
    margin-top: 3%;
}

#zalau-title
{
    margin: 0px 20px;
    display: inline-block;
    padding: 4px 10px;
    background-color: var(--color-purepule);
    margin-bottom: 5%;
    margin-top: 3%;
}

#cluj-title
{
    margin: 0px 20px;
    display: inline-block;
    padding: 4px 10px;
    background-color: var(--color-green);
    margin-bottom: 5%;
    margin-top: 3%;
}

.persons
{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
    gap: 20%;
}



.person
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%;
   
}

.person img
{
    border-radius: 5%;
    max-width: var(--image-size-normal);
    width: auto;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.35);
   
}

.person-text
{   
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   
}

.person-text h3
{
    font-size: var(--font-size-text);
    letter-spacing: 5%;
    color: var(--color-text-secondary);
    font-weight: 400;
}

.person-text h4
{
    letter-spacing: 3%;
    color:var(--color-text-secondary);
    font-weight: 300;
}


@media (max-width: 1024px) {


    .person img
    {
        max-width: var(--image-size-1024);
    }

}

@media (max-width: 768px) {
 
    #hero-content h1
    {
        font-size: 3.8rem;
    }


    .hero::before
    {
        background-position: 80% 50%;
    }

    .person img
    {
        border-radius: 5%;
        max-width: var(--image-size-768);
        width: auto;
        box-shadow: 0 12px 32px rgba(0, 0, 0, 0.35);
    }

    .department 
    {
        position: relative;
        overflow: hidden;
        min-height: 20vh;
    }
 
    .persons
    {
        margin-top: var(--space-md);
    }
       
}


@media (max-width: 600px) {

    .person img
    {
        max-width: var(--image-size-600);
    }

}


@media (max-width: 480px) {


    .person img
    {
        max-width: var(--image-size-480);
    }

}