*
{
    --color-first: hsl(23,42%,50%) ;
    --color-first-dark: hsl(23,47%,40%) ;
    --color-second: hsl(212,35%,35%);
    --color-second-dark: hsl(212,40%,25%) ;
    --color-border: #D9D7B6 ;

    --events-font-title: 1.8rem;
    --events-font-date: 0.8rem;
    --events-font-text: 1rem;
}

.hero
{
    height: 105vh;
    display: flex;

    position: relative;
    overflow: hidden;
    margin-bottom: 5%;
     
}

.hero::before
{
    content: ' ';
    position: absolute;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    background-image: url('../assets/pictures/2-ciculi-jozsef-konferencia.jpeg');
    background-size: cover;
    background-position: center;
    filter: blur(8px) brightness(0.5);
    z-index: 0;
    
}

.hero::after {
    content: '';
    position: absolute;
    inset: 0;
   
    z-index: 1;
    pointer-events: none;
}


#hero-content
{
    margin-top: 30vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 40px 24px;
    z-index: 1;
    padding: 7vh;
    
}

#hero-content h1
{
    font-size: var(--font-size-title);
    color: var(--color-text-secondary-light);
    letter-spacing: 8%;
    text-align: center;
    font-family: "Montserrat";
}


.small-divider
{
    border: none;           
    height: 0px;
    border-top: 2px solid  var(--color-text-granite);
    opacity: 80%;
   
    width: 20vw;    
           
    margin-top: 30px;
    margin-bottom: 5px;
}

.divider
 {
    border: none;           
    height: 0px;
    border-top: 2px solid  var(--color-text-5);
   
    width: 85vw;            
    margin: 3% auto; 

}

.event
{
    min-height: 40vh;
 
    
}






.content
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
   
    padding-left: 10%;
    padding-right: 10%;
   
 
}

.event img
{
    flex-shrink: 0;
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.5);
    
}

.text
{
    flex: 1;                
    min-width: 0; 
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    
}

.text h3
{
    color: var(--color-text-primary-dark);
    background-color: #FCC781;
    font-size: var(--events-font-title);
    letter-spacing: 10%;
    margin-bottom: 2%;
    display: inline-block;
    font-weight: 500;
}

.text h5
{
    color: var(--color-text-obsidian);
    font-size: var(--events-font-date);
    letter-spacing: 5%;
    font-weight: 300;
}

.text h4
{
    color: var(--color-text-primary-dark);
    margin-top: 20px;
    font-size: var(--events-font-text);
    letter-spacing: 5%;
    font-weight: 400;
}



