.hero
{
    height: 100vh;
    display: flex;

    position: relative;
    overflow: hidden;
}

.hero::before
{
    content: ' ';
    position: absolute;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    background-image: url('../assets/pictures/2-ciculi-jozsef-konferencia.jpeg');
    background-size: cover;
    background-position: center;
    filter: blur(8px) brightness(0.5);
    z-index: 0;
    
}

#hero-content
{
    margin-top: 30vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 40px 24px;
    z-index: 1;
    padding: 7vh;
    
}

#hero-content h1
{
    font-size: var(--font-size-title);
    color: var(--color-text-secondary-light);
    letter-spacing: 8%;
    text-align: center;
    font-family: "Montserrat";
}

.event
{
    height: 100vh;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 10%;
    padding-top: 7%;
}

.content
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}

.content img
{
    height: 70%;
    width: auto;
}

.text
{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-top: 15%;
}

.text h3
{
    font-size: var(--font-size-subtitle);
    letter-spacing: 10%;
    margin-bottom: 2%;
}

.text h5
{
    font-size: var(--font-size-smalltext);
    letter-spacing: 5%;
}

.text h4
{
    margin-top: 10%;
    font-size: var(--font-size-text);
    letter-spacing: 5%;
}



