
:root{
    /*Page colors*/
    --color-white-background: #F4F3F2;
    --color-primary: #0A7C6E;
    --color-secondary: #ADE5ED;
    --color-tertiary: #F59E0B;
    --color-footer-background: #2C302E;
    
    /*Font colors*/
    --color-text-primary-dark: #151515;
    --color-text-secondary-darl: #3E3D3D;
    --color-text-primary-light: #F2F2F2;
    --color-text-secondary-light: #EFEFEF;
    --color-text-tertiary-light: #B5B5B5;

    /*Fonts*/
    --font-title: 'Montserrat';
    --font-text: 'Inter';
    --font-size-title: 6rem;
    --font-size-text: 2rem;
    --font-size-subtitle: 2.5rem;    
    --font-size-nav: 1.5rem;
    --font-size-legal: 0.75rem;
    --font-size-email: 0.9rem;

}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body
{
    background-color: var(--color-white-background);
}

.navbar
{
    background-color: var(--color-primary);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 50px;
}

#navbarText
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;

}

#navbarText li{
    list-style: none;
}

#navbarText li a
{
    list-style: none;
    font-size: var(--font-size-nav);
    color: var(--color-text-secondary-light);
    letter-spacing: 10%;
    text-decoration: none;
    transition: transform 0.2s ease;
    display: inline-block; 
}

#navbarText li a:hover
{
    transform: scale(1.1);
    opacity: 0.85;
}

.logo
{
    background-color: var(--color-tertiary);
    margin-left: 20px;
    margin-right: 40px;
}

#languages
{
   margin-left: auto; 
   display: flex;
   align-items: flex-end;
   justify-content: center;
   gap: 10px;
   margin-right: 20px;
   

}

#languages button
{
    border-color: transparent;
    width: 40px;
    height: 30px;
    background: none;
}

#languages img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius:2px ;
    transition: transform 0.2s ease, opacity 0.2s ease;


}

#languages button:hover img {
  background: rgba(255, 255, 255, 0.1);
  transform: scale(1.1);
  opacity: 0.85;
}

@media (min-width: 768px) {
    .navbar
    {
       
        height: 60;
    }
}